MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=12345
MYSQLDB_DATABASE=users

SPRING_TOKEN_SECRET_KEY=test123456789test123456789
SPRING_TOKEN_ACCESS_EXPIRATION_SECONDS=120
SPRING_TOKEN_REFRESH_EXPIRATION_SECONDS=86400
