<div>
  <div class="my-2 fs-4 text-center">List of users</div>

  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Login</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Role</th>
        <th class="col-1" scope="col">Status</th>
        <th class="col-1" scope="col">Created At</th>
        <th class="col-3" scope="col"></th>
      </tr>
    </thead>

    <tbody class="table-striped">
      <tr *ngFor="let user of users">
        <td class="text-center" scope="row">{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.role | titlecase }}</td>
        <td>{{ user.status | titlecase }}</td>
        <td>{{ user.createdAt | date: 'dd.MM.YYYY HH:mm' }}</td>
        <td *ngIf="role === ROLE_USER">
          <a class="btn btn-sm btn-outline-primary me-3" routerLink="/user/view/{{ user.id }}">View</a>
        </td>
        <td *ngIf="role === ROLE_ADMIN">
          <a class="btn btn-sm btn-outline-primary me-3" routerLink="/user/view/{{ user.id }}">View</a>
          <a class="btn btn-sm btn-outline-primary me-3" routerLink="/user/edit/{{ user.id }}">Edit</a>

          <button *ngIf="user.status.toLowerCase() === 'active'; else elseBlock" class="btn btn-sm btn-outline-primary"
            (click)="lockUser(user.id)">Lock</button>

          <ng-template #elseBlock><button class="btn btn-sm btn-outline-primary"
              (click)="unlockUser(user.id)">Unlock</button></ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="my-2" *ngIf="role === ROLE_ADMIN">
    <a class="btn btn-sm btn-outline-primary" routerLink="/user/add">Add new user</a>
  </div>
</div>